.home_action_sheet {
  .home_action_sheet_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .sheet_icon {
      margin-right: 20px;
    }
    .home_action_sheet_row_title {
      font-size: 30px;
      color: #888888;
    }
  }
}
